<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286365277526-mab5s9t6kdl6dtq7971ps8tm74vnn1br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286365277526-mab5s9t6kdl6dtq7971ps8tm74vnn1br</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBBecoCpVkrLVKBPrHhIjJW11l7UoIKY</string>
	<key>GCM_SENDER_ID</key>
	<string>286365277526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prabh.BankBonus</string>
	<key>PROJECT_ID</key>
	<string>bank-bonus</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-bonus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286365277526:ios:fc19d3fcafd4ec5cd94af7</string>
	<key>DATABASE_URL</key>
	<string>https://bank-bonus.firebaseio.com</string>
</dict>
</plist>